streamlit
openai
```[[1](https://www.google.com/url?sa=E&q=https%3A%2F%2Fvertexaisearch.cloud.google.com%2Fgrounding-api-redirect%2FAUZIYQFcg9RXBFynvonQZKAmuaTAH64mfTq5aWjQBh9Oqc0KHYnmL-blifTtSqZiIgHIXCJ6KNNnUsEr3qGlJqK9PcENYIweTEWz_kMEkXOXGqOUZNup2hLIAlLF9wDzPSFiQeMjWw-kLsT2LOjxWuURGjof-0_1jOplUw%3D%3D)]
